Mono/bin
MSVS/Release
Xcode/build
Mono/csetest.userprefs
MSVS/cseTest-VS2010.suo
Mono/csetest.pidb
CodeLite/.clang
CodeLite/Release
MKS
CodeLite/Debug
CodeLite/cppcheck.list
CodeLite/cseTest.clang
CodeLite/cseTest.mk
CodeLite/cseTest.txt
CodeLite/threadTest.clang
CodeLite/threadTest.mk
CodeLite/threadTest.project
CodeLite/threadTest.txt

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.ipch
*.sdf
*.opensdf
*.suo
*.suo
SynchroTr.tags
Xcode/SynchroTr.xcodeproj/bertin.pbxuser
Xcode/SynchroTr.xcodeproj/bertin.mode1v3
